<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blink</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/angular-material/angular-material.min.css">
    <link src="/angular-material-icons/angular-material-icons.css"></link>
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/angular-svg-round-progressbar/build/roundProgress.min.js"></script>
    <script src="/angular-animate/angular-animate.min.js"></script>
    <script src="/angular-aria/angular-aria.min.js"></script>
    <script src="/angular-material/angular-material.min.js"></script>
    <script src="/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/clm/clmtrackr.min.js"></script>
    <script src="/clm/models/model_pca_20_svm.js"></script>
    <script src="/modernizr.js"></script>
    <!-- <script src="http://code.responsivevoice.org/responsivevoice.js"></script> -->
    <script src="/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body ng-app="BlinkApp" layout="column">
    <div layout="row" id="page-content" ng-model="sidebarActive">
        <div flex="20" flex-gt-sm="15" id="bl-sidebar" hide-xs>
            <bl-sidebar id="sidebar-container"></bl-sidebar>
        </div>
        <div flex ng-class="{'blur-page': $root.zeroActive}" id="bl-overflow">
            <div class="bl-header">
                <h1>Blink</h1>
            </div>
            <div flex id="main-content" ui-view></div>
        </div>
    </div>
</body>
</html>
