<md-dialog aria-label="List dialog"> 
 <md-dialog-content layout="column" layout-align="center" layout-padding>
  <md-toolbar layout="row" class="md-primary">
    <div class="md-toolbar-tools">
      <span>{{title}}</span>
    </div>
  </md-toolbar>
  <md-list flex>
    <md-list-item ng-repeat="listItem in list">{{listItem}}</md-list-item>
 </md-list>
 <md-dialog-actions layout="row" layout-align="center" layout-padding> 
   <md-button ng-click="closeDialog()" class="md-accent md-raised"> 
     Got it 
   </md-button> 
 </md-dialog-actions> 
</md-dialog-content>
</md-dialog>