/************************
Designed by : http://responsivewebinc.com
************************/
/* Open Sans  */
/* General */


/* UI X */

.ui-49{
	max-width:350px;
	margin:100px auto;
	border:1px solid #ddd;
	box-shadow:0px 0px 15px rgba(0,0,0,0.05);
	border-radius:5px;	
	background:#fff;
}
@media (max-width:350px){
	.ui-49{
		margin:50px 10px;
	}
}
.ui-49 .ui-head{
	text-align:center;
	border-bottom:1px solid #e7e7e7;
	background:#fafafa;
	padding:5px;
	border-top-left-radius:5px;	
	border-top-right-radius:5px;	
}
.ui-49 .ui-head h2{
	font-size:13px;
	text-transform:uppercase;
	color:#888;
}
/* Bootstrap switch */
.ui-49 .bootstrap-switch{
	border:0px;
	box-shadow:none !important;
}
.ui-49 .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on, 
.ui-49 .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off, 
.ui-49 .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label{
	font-size:11px;
	padding:2px 3px;
}
.ui-49 .bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on, 
.ui-49 .bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off, 
.ui-49 .bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label{
	font-size:11px;
	padding:4px 5px;
}
.ui-49 .bootstrap-switch .bootstrap-switch-handle-on, 
.ui-49 .bootstrap-switch .bootstrap-switch-handle-off, 
.ui-49 .bootstrap-switch .bootstrap-switch-label{
	font-size:12px;
	padding:6px 7px;
}
.ui-49 .bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-on, 
.ui-49 .bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-off, 
.ui-49 .bootstrap-switch.bootstrap-switch-large .bootstrap-switch-label{
	font-size:13px;
	padding:9px 9px;
}
.ui-49 .bootstrap-switch .bootstrap-switch-label{
	background:#fafafa;
	box-shadow:inset 0px 0px 2px rgba(0,0,0,0.2);
}
.ui-49 .ui-list ul{
	margin:0px;
}
.ui-49 .ui-list ul li{
	margin:0px;
	padding:7px 15px 10px 15px;
	border-bottom:1px solid #eee;
	position:relative;
}
.ui-49 .ui-list ul li:hover{
	background:#fcfcfc;
}
.ui-49 .ui-list ul li:last-child{
	border:0px;
}
.ui-49 .ui-list ul li h3{
	font-size:14px;
	line-height:14px;
	color:#888;
}
.ui-49 .ui-list ul li h3 i{
	font-size:25px;
	width:30px;
	text-align:center;
	margin-right:10px;
	position:relative;
	top:10px;
	color:#ccc;
	display:inline-block;
}
.ui-49 .ui-list ul li h3 span{
	display:block;
	color:#aaa;
	font-weight:400;
	font-size:12px;
	margin-left:44px;
	margin-top:4px;
}
.ui-49 .ui-list ul li .ui-toggle{
	position:absolute;
	top:20px;
	right:20px;
}
.ui-49 .ui-foot{
	border-top:1px solid #e7e7e7;
	background:#fafafa;
	padding:15px 20px;
	border-bottom-left-radius:5px;	
	border-bottom-right-radius:5px;
	color:#999;
	font-size:12px;
}