<div layout="column" class="bl-vh-100 bl-sidebar-content">
  <div layout="row"  flex="50" >
    <div class="bl-vw-100" layout="column" layout-align="space-between center">
      <div flex="grow" class="bl-vw-100" layout="column">
        <div id="bl-nav-item" ng-repeat="item in items" ng-class="{'bl-nav-current' : item.state === currentState }" ui-sref="{{ item.state }}">
          <div>
            <a ui-sref="{{ item.state }}" ng-class="{'nav-highlight' : $index === selectedLink}">{{item.label}}</a>
          </div>
        </div>
      </div>
   </div>
 </div>
 <div flex="50">
  <div class="web-box">
       <bl-sidebar-webcam ng-style="webcamDir" id="webcam-directive" ng-show="user.blinkActive"></bl-sidebar-webcam>
       <div layout="column" layout-align="center start" class="bl-sidebar-actions">
        <div class="bl-welcome" ng-show="username">Welcome, {{username}}!</div>
        
        <div class="bl-sidebar-btn">
         <md-button ng-show="loggedIn" ui-sref="logout" class="md-primary  md-raised">Logout</md-button>
         <md-button ng-hide="loggedIn" ui-sref="login" class="md-primary md-raised">Login</md-button>
        </div>
        <div>
         <md-switch ng-model="user.blinkActive" ng-change="toggleTracking()"  class="md-accent bl-switch" aria-label="$root.settings.blinkActive.label">
            <md-tooltip ng-hide="user.blinkActive">
            Toggle status of blink detection
            </md-tooltip>
            <span class="bl-label">Tracking</span>
         </md-switch>
        </div>
       </div>
     </div>
 </div>

</div>




