<div layout="column" class="bl-vh-100 bl-sidebar-content">
  <div layout="row"  flex="60" >
    <div class="bl-vw-100" layout="column" layout-align="space-between center">
      <div flex="grow" class="bl-vw-100" layout="column">
        <div id="bl-nav-item" ng-repeat="item in items" ng-class="{'bl-nav-current' : item.state === currentState }" ui-sref="{{ item.state }}">
          <div>
            <a ui-sref="{{ item.state }}" ng-class="{'nav-highlight' : $index === selectedLink}">{{item.label}}</a>
          </div>
        </div>
      </div>
   </div>
 </div>
 <div flex="30">
  <div class="web-box">
       <bl-sidebar-webcam ng-style="webcamDir" id="webcam-directive"></bl-sidebar-webcam>
       <div layout="column" layout-align="center center">
         <md-switch ng-model="$root.settings.blinkActive.value" ng-change="toggleTracking()"  class="md-primary" aria-label="$root.settings.blinkActive.label">Tracking
         </md-switch>
         <md-button ng-show="loggedIn" ui-sref="logout" class="md-primary md-raised">Logout</md-button>
         <md-button ng-hide="loggedIn" ui-sref="login" class="md-primary md-raised">Login</md-button>
       </div>
     </div>
 </div>

</div>




