<md-content class="md-padding">
	<md-card >
		<md-card-content>
			<md-card-title>
				<md-card-title-text>
					<span class="text-center tutorial-title">Have you completed initial calibration?</span>
				</md-card-title-text>
			</md-card-title>
			<div layout="column" layout-align="center center">
				<div layout="row" layout-padding>
					<md-button ng-click="calibrate()" class="md-primary md-raised">No</md-button>
					<md-button ng-click="startTutorial()" class="md-warn md-raised">Yes</md-button>
				</div>
			</div>
		</md-card-content>
	</md-card>
</md-content>