<div layout="column" flex class="bl-vh-100">



<div ng-cloak id="tutorialContainer"  flex>
	<md-tabs class="bl-vh-100 bl-tabs" md-border-bottom md-selected="selectedTab" md-autoselect>
		<md-tab  label="One">
			<div layout="row" class="bl-parent" layout-align="start start">
				<bl-tutorial-one class="bl-block bl-parent" layout-padding flex></bl-tutorial-one>
			</div>	
		</md-tab>
		<md-tab label="Two">
			<div layout="row" layout-align="start stretch" ng-if="selectedTab === 1">
				<bl-tutorial-two class="bl-block" layout-padding flex></bl-tutorial-two>
			</div>
		</md-tab>
		<md-tab label="Three">
			<div layout="row" layout-align="start stretch">
			<bl-tutorial-three class="bl-block" layout-padding flex></bl-tutorial-three>
			</div>
		</md-tab>
		<md-tab label="Four">
			<div layout="row" layout-align="start stretch">
			<bl-tutorial-four class="bl-block" layout-padding flex></bl-tutorial-four>
			</div>
		</md-tab>
		<md-tab label="Five">
			<bl-tutorial-five ng-if="selectedTab === 4"></bl-tutorial-five>
		</md-tab>
		<md-tab label="Six">
			<md-content layout="row" layout-align="center" class="md-padding">
				<md-button class="md-primary" ui-sref="type">Let's Try Typing!</md-button>
			</md-content>
		</md-tab>
	</md-tabs>
</div>


</div>













