

<!-- <md-subheader>Calibration</md-subheader> -->
<div ng-if="!calibrateActive">
	<h3 class="p-title p-title-no-margin">
		<span>Calibration</span>
	</h3>
</div>
<div layout="column" flex layout-align="start center" ng-if="!calibrateActive">
	
	<div id="calibrate-overlay" flex layout="row" class="calibrate-step " layout-align="start" layout-padding>
		
		
		


		<div class="ui-152">
			<!-- Main heading -->
			<!-- <h4 class="md-title">Calibration Process</h4> -->
			<!-- Border -->
			<div class="bor"></div>
			<!-- UI Item -->
			<div class="ui-item clearfix">
				<!-- Icon -->
				<a href="#"><i class="fa fa-question"></i></a>
				<!-- Content -->
				<div class="content">
					<h3>What is Calibration?</h3>
					<p>To accurately detect your blinks, the app will calculate the average area of your eye when open and closed to register a blink. This "blink profile" is unique to each user. An example blink profile is displayed on the right.</p>
				</div>
			</div>
			<!-- UI Item -->
			<div class="ui-item clearfix">
				<!-- Icon -->
				<a href="#"><i class="fa fa-eye"></i></a>
				<!-- Content -->
				<div class="content">
					<h3>Calibrate Open Eye</h3>
					<p>The first step will measure the average area of your open eye.</p>
				</div>
			</div>
			<!-- UI Item -->
			<div class="ui-item clearfix">
				<!-- Icon -->
				<a href="#"><i class="fa fa-percent"></i></a>
				<!-- Content -->
				<div class="content">
					<h3>Calibrate Blink</h3>
					<p>Measure the eye area during a blink to compare to open eye, establishing the threshold of blink detection</p>
				</div>
			</div>
			<!-- UI Item -->
			<div class="ui-item clearfix">
				<!-- Icon -->
				<a href="#"><i class="fa fa-check"></i></a>
				<!-- Content -->
				<div class="content">
					<h3>Check calibration</h3>
					<p>View the live tracking data of your personalized eye measurements and test-drive the app</p>
				</div>
			</div>
		</div>

		<div flex  layout-padding bl-size="400x">
			<h2 class="md-title text-center bl-grey">Example Calibration Graph</h2> 	 
			<img src="/assets/graph-example.png" height="auto" alt="" class="bl-vw-100">
			<div>
				<h2 class="md-subhead text-center"><span ng-hide="showInstructions">New User?</span> <md-button class="md-primary" ng-hide="showInstructions" ng-click="show()">Click Here For More Instructions</md-button><md-button class="md-warn" ng-show="showInstructions" ng-click="show()">Hide Instructions</md-button></h2>



			</div>
			<div>
				<h2 class="md-subhead text-center"><md-button class="md-primary md-raised" ng-click="start()">Begin</md-button></h2>

			</div>
		</div>


	</div>
	
	<div layout="column" flex md-whiteframe="1dp" layout-margin>
		<div ng-show="showInstructions" layout="row" layout-padding layout-margin layout-align="center start">
			<div flex="30" md-whiteframe="4dp" class="bl-center">
				<img src="/assets/findTracking.gif" height="auto" alt="" class="bl-vw-100">
			</div>
			<div class="bl-message" flex layout="row">
				<div class="bl-vw-100 bl-arrow-headline">
					<span class="md-display-1">Aquire Tracking</span>
				</div>
				<div class="bl-indent md-body-1 bl-vw-90">
					<p>Before starting, make sure the green tacking model is closely fitted to your face.</p>
					<p>Make sure your face in centered in the green box and your head is level with your computer.</p> 
					<p>If you're having trouble, try moving slowly towards, then away from your webcam.</p>
				</div>
			</div>
		</div>
		<div ng-show="showInstructions" layout="row" layout-padding layout-margin layout-align="center start">
			<div flex="30" md-whiteframe="4dp" class="bl-center">
				<img src="/assets/findTracking.gif" height="auto" alt="" class="bl-vw-100">
			</div>
			<div class="bl-message" flex>
				<div class="bl-vw-100 bl-arrow-headline">
					<span class="md-display-1">How To Blink</span>
				</div>
				<div class="bl-indent md-body-1 bl-vw-90">
					<p>EYEsee is sensitive enough to detect sublte blinks.</p> 
					<p>Blink normally while calibrating and typing. There is no need to over-express the blink action.</p>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- Open calibration -->
<div flex layout="column" layout-align="center center" ng-show="calibrating.open" class="calibrate-step bl-card">
	<div class="text-center bl-message bl-vw-80">
		<h2 ng-show="success" class="md-display-1">Open Eye Calibration Complete!</h2>
		<div ng-show="success">
			<md-button class="md-primary md-raised" ng-click="gotoClosed()">Next</md-button>
		</div>
		<h2 ng-hide="success" class="md-display-1">Keep Eyes Open</h2>
		<div class="bl-cal-progress" ng-hide="success">
			<round-progress
			max="100"
			current="openCount"
			color="#2196FD"
			bgcolor="#eaeaea"
			radius="150"
			stroke="30"
			responsive="false"
			duration="0"
			animation="linearEase"
			animation-delay="0"></round-progress>
		</div>

		<div ng-hide="success">
			<span class="md-headline">{{openCount.toFixed(0)}}% Complete</span>
		</div>
	</div>


</div>




<!-- Closed calibration -->
<div flex layout="column" layout-align="center center" ng-show="calibrating.closed" class="calibrate-step bl-card">
	<div class="text-center bl-message bl-vw-80">
		<h2 class="md-display-1">Start Blinking</h2>
		<div class="bl-cal-progress">
			<round-progress
			max="100"
			current="closedCount"
			color="#2196FD"
			bgcolor="#eaeaea"
			radius="150"
			stroke="30"
			responsive="false"
			duration="50"
			animation="linearEase"
			animation-delay="0"></round-progress>
		</div>
		<div class="md-headline">
			{{closedCount.toFixed(0)}}% Complete
		</div>
	</div>
</div>



<div flex layout="column" layout-padding ng-if="calibrationComplete">
	<div>
		<h3 class="p-title p-title-no-margin">
			<span>Calibration Results</span>
		</h3>
	</div>
	<div layout="row">
		<div flex class="bl-center bl-graph-wrapper" md-whiteframe="4dp" layout-padding bl-size="600x">
			<h2 class="md-headline">Live Tracking Data</h2> 	 
			<bl-graph></bl-graph>
			<div layout="row" layout-align="center">
			<div ng-cloak bl-size="300x100" class="bl-center" md-whiteframe="4" layout-padding ng-class="{'bl-hide-elem': blinkDetected}">
					<div>
						<h3 class="md-headline">Waiting...</h3>
						<img src="assets/loading.gif" alt="HTML5 Icon" style="width:48px;height:48px;">
					</div>
				</div>
				<div ng-cloak  bl-size="300x100" class="bl-center bl-blink-detected" md-whiteframe="4" ng-class="{'bl-hide-elem': !blinkDetected}" layout-padding>
					<div>
						<h2 class="md-display-1 bl-white">Blink Detected</h2>
						<i class="fa fa-thumbs-up fa-2x bl-white" aria-hidden="true"></i>
					</div>
				</div>
			</div>
		</div>
		<div layout="column" layout-margin layout-padding flex>
			<div class="icon-box icon-box-left" >
				<i class="icon-alt font-secondary glyph-icon fa-cog" ></i>
				<div class="icon-wrapper">
					<h5 class="icon-title ">Confirm Settings</h5>
					<ul class="icon-content ">
						<li>With eyes open, make sure the current eye reading <span class="bl-text-primary">(blue line)</span> is above the red threshold line</li>
						<li>Blink and watch the <span class="bl-text-primary">blue line</span> drop</li>
						<li>Note: If blinks aren't being detected, re-calibrate</li>
						<!-- <li>making sure it drops below the red threshold line.</li> -->
					</ul>
				</div>
			</div>
			<div layout="row" layout-padding layout-align="center">
				<md-button ui-sref="tutorial" class="md-primary">Tutorial</md-button>
				<md-button ui-sref="calibrate" class="md-warn">Re-calibrate</md-button>
			</div>

		</div>
	</div>
</div>


<div class="bl-vw-100" bl-size="x200"></div>











