
<div ng-if="!calibrateActive">
		<h3 class="p-title p-title-no-margin">
			<span>Calibration</span>
		</h3>
	</div>
<!-- <md-subheader>Calibration</md-subheader> -->
<div layout="column" flex layout-align="start center" ng-if="!calibrateActive">
	
	<div id="calibrate-overlay" flex layout="row" class="calibrate-step " layout-padding layout-margin md-whiteframe="4dp">
		
		
		
	
		<div flex="40" class="bl-center" layout-padding>
			<h2 class="md-title">Example Calibration Graph</h2> 	 
			<img src="/assets/daneGraph.png" height="auto" alt="" class="bl-vw-100">
		</div>
			<div flex="5">
		</div>
		<div class="bl-right-message" layout="column" flex layout-align="start start">
			<h2 class="md-headline">Calibration Process</h2>
			<div>
				<p class="md-body-1">To accurately detect your blinks, the app needs to calculate the average area of your eye when open, and the threshold to register a blink. This "blink profile" is unique to each user.</p>
			</div>
			<div>
				<p class="md-body-1">The goal is to establish your unique blink zero and blink ratio to accurately detect blinks. The figure below is a graphical representation of the calibration process.</p> 
				<p class="md-body-1">The app watches for the area of your eye to fall below the red line, registering a blink.</p>
				
			</div>
			<div layout="column" layout-align="center" class="bl-vw-100">
				<div layout="row" layout-align="start end">
				<div class="md-subhead">New User?</div>
				<md-button class="md-primary" ng-hide="showInstructions" ng-click="show()">Click Here For More Instructions</md-button>
				<md-button class="md-warn" ng-show="showInstructions" ng-click="show()">Hide Instructions</md-button>

				</div>
				<div layout="row" layout-align="start end">
				<div class="md-subhead">OR....</div>
				<md-button class="md-primary" ng-click="start()">Begin</md-button>
				</div>
			</div>
			
		</div>
	</div>
	
	<div layout="column" flex md-whiteframe="1dp" layout-margin>
		<div ng-show="showInstructions" layout="row" layout-padding layout-margin layout-align="center start">
			<div flex="30" md-whiteframe="4dp" class="bl-center">
				<img src="/assets/findTracking.gif" height="auto" alt="" class="bl-vw-100">
			</div>
			<div class="bl-message" flex layout="row">
				<div class="bl-vw-100 bl-arrow-headline">
					<span class="md-display-1">Aquire Tracking</span>
				</div>
				<div class="bl-indent md-body-1 bl-vw-90">
					<p>Before starting, make sure the green tacking model is closely fitted to your face.</p>
					<p>Make sure your face in centered in the green box and your head is level with your computer.</p> 
					<p>If you're having trouble, try moving slowly towards, then away from your webcam.</p>
				</div>
			</div>
		</div>
		<div ng-show="showInstructions" layout="row" layout-padding layout-margin layout-align="center start">
			<div flex="30" md-whiteframe="4dp" class="bl-center">
				<img src="/assets/findTracking.gif" height="auto" alt="" class="bl-vw-100">
			</div>
			<div class="bl-message" flex>
				<div class="bl-vw-100 bl-arrow-headline">
					<span class="md-display-1">How To Blink</span>
				</div>
				<div class="bl-indent md-body-1 bl-vw-90">
					<p>EYEsee is sensitive enough to detect sublte blinks.</p> 
					<p>Blink normally while calibrating and typing. There is no need to over-express the blink action.</p>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- Open calibration -->
<div flex layout="column" layout-align="center center" ng-show="calibrating.open" class="calibrate-step bl-card">
	<div class="text-center bl-message bl-vw-80">
		<h2 ng-show="success" class="md-display-1">Open Eye Calibration Complete!</h2>
		<div ng-show="success">
			<md-button class="md-primary md-raised" ng-click="gotoClosed()">Next</md-button>
		</div>
		<h2 ng-hide="success" class="md-display-1">Keep Eyes Open</h2>
		<div class="bl-cal-progress" ng-hide="success">
			<round-progress
			max="100"
			current="openCount"
			color="#2196FD"
			bgcolor="#eaeaea"
			radius="150"
			stroke="30"
			responsive="false"
			duration="0"
			animation="linearEase"
			animation-delay="0"></round-progress>
		</div>

		<div ng-hide="success">
			<span class="md-headline">{{openCount.toFixed(0)}}% Complete</span>
		</div>
	</div>


</div>




<!-- Closed calibration -->
<div flex layout="column" layout-align="center center" ng-show="calibrating.closed" class="calibrate-step bl-card">
	<div class="text-center bl-message bl-vw-80">
		<h2 class="md-display-1">Start Blinking</h2>
		<div class="bl-cal-progress">
			<round-progress
			max="100"
			current="closedCount"
			color="#2196FD"
			bgcolor="#eaeaea"
			radius="150"
			stroke="30"
			responsive="false"
			duration="50"
			animation="linearEase"
			animation-delay="0"></round-progress>
		</div>
		<div class="md-headline">
			{{closedCount.toFixed(0)}}% Complete
		</div>
	</div>
</div>



<div flex layout="column" layout-padding layout="center center" ng-if="calibrationComplete">
	<div>
		<h3 class="p-title p-title-no-margin">
			<span>Calibration Results</span>
		</h3>
	</div>
	<div layout="row">
		<div flex class="bl-center" md-whiteframe="4dp" layout-padding>
			<h2 class="md-headline">Live Tracking Data</h2> 	 
			<bl-graph></bl-graph>
		</div>
		<div layout="column" layout-margin layout-padding flex>
			<div class="icon-box icon-box-left" >
				<i class="icon-alt font-secondary glyph-icon fa-cog" ></i>
				<div class="icon-wrapper">
					<h5 class="icon-title ">Confirm Settings</h5>
					<ul class="icon-content ">
						<li>When you eye is open, make sure the current eye reading is above the threshold line.</li>
						<li>Try blinking and watch the eye reading drop. Make sure it drops below the threshold line, then rises back above when your eyes are open.</li>
					</ul>
				</div>
			</div>
			<div layout="row" layout-padding layout-align="center">
				<md-button ui-sref="tutorial" class="md-primary">Tutorial</md-button>
				<md-button ui-sref="calibrate" class="md-warn">Re-calibrate</md-button>
			</div>

		</div>
	</div>
</div>











