	<h3 class="p-title p-title-no-margin">
		<span>Blink Profile</span>
	</h3>
	<div layout-padding>
		<div layout="row" flex layout-padding>
			<div flex class="bl-center" ng-show="profileSet">
				<h2 class="md-headline">Blink Profile</h2> 
				<canvas id="blink-chart"></canvas>
			</div>
			<div flex class="bl-center" ng-show="!profileSet" md-whiteframe="4dp">
				<h2 class="md-headline">Blink Profile Graph</h2>
				<h2 class="md-title">It looks like you haven't calibrated yet!</h2> 
			</div>
			<div layout="column" layout-margin layout-padding flex="40">
				<div class="icon-box icon-box-left" >
					<i class="icon-alt font-secondary glyph-icon fa-cog" ></i>
					<div class="icon-wrapper">
						<h5 class="icon-title ">Blink Threshold</h5>
						<p class="icon-content ">Your Eye Zero * Blink Ratio. When the current area of your eye drops below this value, A blink is detected.</p>
					</div>
				</div>
				<div class="icon-box icon-box-left" >
					<i class="icon-alt font-secondary glyph-icon fa-percent" ></i>
					<div class="icon-wrapper">
						<h5 class="icon-title ">Blink Ratio</h5>
						<p class="icon-content ">The ratio between your Eye Zero and average blink values</p>
					</div>
				</div>
				<div class="icon-box icon-box-left" >
					<i class="icon-alt font-secondary glyph-icon fa-eye" ></i>
					<div class="icon-wrapper">
						<h5 class="icon-title ">Eye Zero</h5>
						<p class="icon-content ">The average measured area of your open eye.</p>

					</div>

				</div>
			</div>
		</div>

		

	</div>

	<div flex layout="column" layout-padding layout="">
		<div>
			<h3 class="p-title p-title-no-margin">
				<span>Adjust Settings</span>
			</h3>
		</div>
		<div layout="row">
			<div flex class="bl-center" md-whiteframe="4dp" layout-padding>
				<h2 class="md-headline">Live Tracking Data</h2> 	 
				<bl-graph ng-cloak></bl-graph>
			</div>
			<div layout-margin layout-padding flex>
				<div class="ui-49 bl-49">
					<!-- Heading -->
					<div class="ui-head">
						<h2>Quick Settings</h2>
					</div>
					<!-- Items -->
					<div class="ui-list">
						<ul class="list-unstyled">
							<li class="clearfix">
								<!-- Heading -->
								<span class="bl-pull-left">
									<h3><i class="fa fa-eye"></i> Blink Zero <span>Something goes here</span></h3>
								</span>
								<!-- Toggle switch -->
								<div class="bl-toggle-btn">
									<i class="icon-alt bl-icon-primary glyph-icon fa-plus fa-2x" ng-click="adjustValue(true,'blinkZero')"></i>
									<i class="icon-alt bl-icon-warn glyph-icon fa-minus fa-2x" ng-click="adjustValue(false,'blinkZero')"></i>
								</div>

							</li>
							<li class="clearfix">
								<!-- Heading -->

								<span class="bl-pull-left">
									<h3><i class="fa fa-percent"></i> Blink Ratio <span>Something goes here</span></h3>
								</span>
								<!-- Toggle switch -->
								<div class="bl-toggle-btn">
									<i class="icon-alt bl-icon-primary glyph-icon fa-plus fa-2x" ng-click="adjustValue(true,'blinkRatio')"></i>
									<i class="icon-alt bl-icon-warn glyph-icon fa-minus fa-2x" ng-click="adjustValue(false,'blinkRatio')"></i>
								</div>
							</li>
							<li class="clearfix">
								<!-- Heading -->
								<span class="bl-pull-left">
									<h3><i class="fa fa-i-cursor"></i> Cursor Speed <span>Something goes here</span></h3>
								</span>
								<!-- Toggle switch -->
								<div class="bl-toggle-btn">
									<i class="icon-alt bl-icon-primary glyph-icon fa-plus fa-2x" ng-click="adjustValue(true,'cursorDelay')"></i>
									<i class="icon-alt bl-icon-warn glyph-icon fa-minus fa-2x" ng-click="adjustValue(false,'cursorDelay')"></i>
								</div>

							</li>
							<li class="clearfix">
								<!-- Heading -->
								<span class="bl-pull-left">
									<h3><i class="fa fa-video-camera"></i> Webcam <span>Turn webcam feed on or off</span></h3>
								</span>
								<!-- Toggle switch -->
								<div class="bl-toggle">
									<md-switch ng-model="$root.user.blinkActive" aria-label="Switch 1">
									</md-switch>
								</div>
							</li>

						</ul>
					</div>
					<!-- Foot -->
					<div class="ui-foot clearfix">
						Last Calibration Date: 
					</div>
				</div>
			</div>
		</div>
	</div>

	<div bl-size="x200" class="bl-vw-100"></div>








	<div class="a-8">
		<!-- Item -->
		<div>
			<!-- Date -->
			<h3 class="a-bg-blue"><span>DD</span>MM YYYY</h3>
			<!-- Content -->
			<div class="a-8-c">
				<!-- Heading -->
				<h4>HEADING</h4>
				<!-- Para -->
				<p>......PARAGRAPH.......</p>
			</div>
		</div>
		<!-- Item -->
		<div>
			<!-- Date -->
			<h3 class="a-bg-blue"><span>DD</span>MM YYYY</h3>
			<!-- Content -->
			<div class="a-8-c">
				<h4>HEADING</h4>
				<p>......PARAGRAPH.......</p>
			</div>
		</div>
		<!-- More items here -->
	</div>


	<div layout="row" layout-align="space-around" layout-padding>

		<div class="a-24">
			<!-- Front. Add background color. -->
			<div class="a-24-f a-bg-blue">
				<!-- Heading -->
				<h3>How To Blink</h3>
			</div>
			<!-- Back. Add background color. -->
			<div class="a-24-b a-bg-green">
				<!-- Heading -->
				<h4><a href="#">HEADING</a></h4>
				<!-- Para -->
				<p>Blink with a relaxed open eye....</p>
			</div>
		</div>



		<div class="a-24">
			<!-- Front. Add background color. -->
			<div class="a-24-f a-bg-green">
				<!-- Heading -->
				<h3>Tracking</h3>
			</div>
			<!-- Back. Add background color. -->
			<div class="a-24-b a-bg-green">
				<!-- Heading -->
				<h4><a href="#">HEADING</a></h4>
				<!-- Para -->
				<p>...........Paragraph..........</p>
			</div>
		</div>



		<div class="a-24">
			<!-- Front. Add background color. -->
			<div class="a-24-f a-bg-red">
				<!-- Heading -->
				<h3>Calibration</h3>
			</div>
			<!-- Back. Add background color. -->
			<div class="a-24-b a-bg-green">
				<!-- Heading -->
				<h4><a href="#">HEADING</a></h4>
				<!-- Para -->
				<p>...........Paragraph..........</p>
			</div>
		</div>







	</div>




	<div class="row">
		<div class="col-md-6 col-sm-6">
			<!-- #130 -->
			<div class="a-130 a-bg-blue">
				<!-- Content -->
				<div class="a-130-c">
					<!-- Heading -->
					<h3>What is Locked-In Syndrome?</h3>
					<!-- Para -->
					<p>LIS is a medical condition in which a patient is conscious but unable to communicate verbally due to complete bodily paralysis. However, many individuals retain the ability to perform eye movements, which is enough to enable vital communication.</p>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6">
			<!-- #130 -->
			<div class="a-130 a-bg-green">
				<!-- Content -->
				<div class="a-130-c">
					<!-- Heading -->
					<h3>Why EyeSay?</h3>
					<!-- Para -->
					<p>Most communication tools for LIS patients cost tens of thousands of dollars, and are rarely covered by insurance. With this in mind, we set out to build a simple and accessible platform that can run on any commodity laptop.</p>
				</div>
			</div>
		</div>
	</div>
