<md-dialog aria-label="List dialog"> 
 <md-dialog-content layout="column" layout-align="center">
 	<md-toolbar layout="row" class="md-primary">
    <div class="md-toolbar-tools">
      <span>Blink Calibration</b></span>
    </div>
  </md-toolbar>
  <div layout-padding>
    <h2 class="md-subhead"><b>1.</b> Start with a relaxed open eye</h2>
    <h2 class="md-subhead"><b>2.</b>  Keep Looking towards webcam</h2>
    <h2 class="md-subhead"><b>3.</b>  Blink approx. every 2 seconds until complete</h2>

  </div>
<!--   <md-list flex class="bl-dialog-list">
   <md-list-item>1. Start with a relaxed open eye</md-list-item>
   <md-list-item>2. Keep Looking towards webcam</md-list-item>
   <md-list-item>2. Blink approx. every 2 seconds until complete</md-list-item>
 </md-list> -->
 <md-dialog-actions layout="row" layout-align="center" layout-padding> 
   <md-button ng-click="closeDialog()" class="md-accent md-raised"> 
     Got it 
   </md-button> 
 </md-dialog-actions> 
</md-dialog-content>
</md-dialog>