
<!-- <div class="content-box bl-graph-box">
    <h3 class="content-box-header bg-default">
        <i class="glyph-icon icon-cog"></i>
        Live Tracking Data
        <span class="header-buttons-separator">
            <a href="#" class="icon-separator">
                <i class="glyph-icon icon-question"></i>
            </a>
        </span>
    </h3>
    <div class="content-box-wrapper">
        <div id="live-data" style="width: 600px; height: 250px; padding: 0px; position: relative;"></div>
    </div>
</div> -->


    <!-- <div>
        <h3 class="content-box-header bg-default">
            <i class="glyph-icon icon-cog"></i>
            Live Tracking Data
        </h3>
    </div> -->
    <div>
        <div id="live-data" style="width: 100%; height: 250px; padding: 0px; position: relative;"></div>
    </div>


