.bl-headline {
    letter-spacing: 0.005em;
    box-sizing: border-box;
    font-weight: 400;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: 64px;
    max-height: 64px;
    padding: 0 16px;
    margin: 0;
}


.bl-large {
	font-size: 1.75em !important;
	// font-weight: 600 !important;
}