@keyframes fadeOut {
  to {
    // background: rgba(256,256,256,0.8) !important;
    background: blue;
    // opacity: 0;
  }
}


.bl-fade:hover {
    -webkit-animation: fadeOut 1s 0s 1 linear;
    -moz-animation: fadeOut 1s 0s 1 linear;
    -ms-animation: fadeOut 1s 0s 1 linear;
    -o-animation: fadeOut 1s 0s 1 linear;
    animation: fadeOut 1s 0s 1 linear;
}



.bl-animate {
  width: 200px;
  height: 200px;
  background: red;
  -webkit-transition: background 2s; /* Safari */
  transition: background 2s;
}


.bl-animate:hover {
    background: blue;
}


.bl-button-tip button {
  position: fixed;
}

.bl-button-tip p {
  display: none;
  position: fixed;
}


.bl-button-tip:hover p {
  display: inline-block;
  left: -50px;
  // top: -50px;

}

.animate-show {
  line-height: 50px;
  opacity: 1;
  font-size: 20px;
  font-weight: bold;
}


.animate-show p {
  
  }

// .animate-show.ng-hide-add, .animate-show.ng-hide-remove {
//   transition: all linear 0.5s;
// }

.animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
}




