.bl-border {
	border: 1px solid rgba(0,0,0, 0.1);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}


.bl-white-btn {
	border: 1px solid rgba(0,0,0, 0.1);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	background: white;
	}


button.md-accent {
	background-color: rgb(105,240,174) !important;
}


button.md-warn {
	// background-color: rgb(105,240,174) !important;
	}