

.bl-cal-progress {
	margin-top: 20px;
}


.bl-card {
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
	margin: 15px 50px;
	padding: 30px 20px !important;
	border: 2px solid rgba(0, 0, 0, 0.2);
}


.bl-card h2 {
	font-weight: bold;
}

.bl-card p {
	text-align: justify;
}

.calibrate-step {

}





.center-div {
	margin: 0 auto;
	div {
		width: 20%;
	}
}


.blink-box {
	height: 250px;
	width: 250px;
	line-height: 250px;
	padding: 0 10px;
	margin: 0 20px;
	text-align: center;
}

.box-wrap {
	height:250px;
	position: relative;
	text-align: center;
    padding-left: 75px;
    padding-right: 75px;
	p {
		font-size: 2em;
		font-family: $keyboard;
	}

}

md-progress-circular {
	//background: nth($blue, 1) !important;
	color: nth($blue, 1) !important;
	border-left-color: nth($blue, 1) !important;
	border-top-color: nth($blue, 1) !important;
}

#calibrate-progress {
	//background: nth($blue, 1) !important;
	color: nth($blue, 1) !important;
	border-left-color: nth($blue, 1) !important;
	border-top-color: nth($blue, 1) !important;
}



md-progress-circular {
  path {
    stroke: nth($blue, 1) !important;
  }

  &.md-warn {
    path {
      stroke: nth($blue, 1) !important;
    }
  }

  &.md-accent {
    path {
      stroke: nth($blue, 1) !important;
    }
  }
}



md-progress-circular.md-default-theme {
  path {
    stroke: nth($blue, 1) !important;
  }

  &.md-warn {
    path {
      stroke: nth($blue, 1) !important;
    }
  }

  &.md-accent {
    path {
      stroke: nth($blue, 1) !important;
    }
  }
}














