.bl-title {
	font-size: 4em;
    font-weight: bold;
    font-family: $keyboard;
    text-align: center; 
    // padding-bottom: 10px;
}

.bl-subtitle {
	font-size: 2em;
    font-family: $keyboard;
    text-align: center; 
    // padding-bottom: 10px;
}