p {
    font-family: "katarine-web",sans-serif;
}

h2 {
    letter-spacing: .01em;
    font-weight: bold;
    text-transform: none;
    font-family: "katarine-web",sans-serif;
}

.bl-left {
    text-align: left;
}

.bl-text-center {
    text-align: center;
}

.bl-description h2 {
    margin: 1em 0 0.5em 0;
    font-weight: 700;
    font-size: 2em;
}

.bl-description p {
    margin: 0 0 1em 0;
}

.bl-description {
    // width: 80%;
    text-align: justify;
    margin: 5px 0px;
}

.bl-description h2 {
    font-size: 28px;
    font-weight: 400;
}

.bl-article {
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
}

.bl-article h2 {
    color: rgb(55, 55, 55);
    font-size: 1.5em;

}


.bl-font-large p:first-child {
    font-size: 20px;
    font-weight: bold;
    padding-left: 0px;
}

.bl-article p {
    margin-bottom: 10px;
    padding-left: 20px;
}

.bl-article ul {

}

.bl-article li {
        
}

.bl-title {
	font-size: 4em;
    font-weight: bold;
    font-family: $keyboard;
    text-align: center; 
    // padding-bottom: 10px;
}


.bl-content-title {
    padding: 0px 0 20px 0;
}

.bl-content-title h1 {
    font-weight: 700;
    color: rgb(45, 45, 45);
    font-size: 4em;
}


.bl-page-title {
    width: 100%;
    // background: rgba(0, 0, 0, 0.15);
    padding: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 0px 0px 3px 0px rgba(0, 0, 0, 0.14), 0px 0px 1px 0px rgba(0, 0, 0, 0.12);
    // box-shadow: 30px 1px 3px 20px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
    // align-items: center;
}

.bl-page-title h1 {
    // color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;

}

.bl-about-text {

}

.bl-about-text a {
    color: $primary;
}

.bl-about-text {

}

.bl-about-text p {
    padding-left: 15px;
    text-align: justify;
}

.bl-subtitle {
	font-size: 2em;
    font-family: $keyboard;
    text-align: center; 
    // padding-bottom: 10px;
}

.bl-title-sm {
	font-size: 2em;
}

.bl-indent p {
    // padding-left: 35px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}


.bl-message {
    // background: #2196f3;
    // color: black;
    // padding: 30px;
    // margin: 8px;
    // box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
}


.bl-message h2 {
    font-weight: bold;
    text-align: center;
}

.bl-message h3 {
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 10px; 
}

.bl-message p {
    text-align: justify;
}

.bl-message div {
    margin-bottom: 10px;
    max-width: 900px;
}

.bl-message button {
    margin-top: 20px;
}

.bl-dialog-list {
    font-size: 18px;
}


.bl-action-list {
    // border: 2px solid rgba(50,50,50,1);
    padding: 10px;
    font-size: 18px;
}


