.bl-title {
	font-size: 4em;
    font-weight: bold;
    font-family: $keyboard;
    text-align: center; 
    // padding-bottom: 10px;
}


.bl-page-title {
    width: 100%;
    background: rgba(0, 0, 0, 0.15);
    padding: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
}

.bl-page-title h1 {
    // color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bl-subtitle {
	font-size: 2em;
    font-family: $keyboard;
    text-align: center; 
    // padding-bottom: 10px;
}

.bl-title-sm {
	font-size: 2em;
}


.bl-message {
    background: #2196f3;
    color: white;
    padding: 30px;
    margin: 8px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    font-size: 1.5em;
}

.bl-message div {
    margin-bottom: 10px;
}

.bl-message button {
    margin-top: 20px;
}


