

.home-text {
    padding: 2em;
    width: 75%;
}

.bl-description {
    width: 80%;
    text-align: justify;
    margin: 5px 0px;
}

.bl-description h2 {
    font-size: 28px;
    font-weight: 400;
}

.bl-home-card {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    margin: 0px 50px;
    margin-top: 100px;
    padding: 0px;
    // min-height: 600px;
}


.bl-home-tip {
    height: 100px;
}

.bl-video-btn {
    z-index: 2 !important;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
}

.bl-video-btn button {
    z-index: 2 !important;
}

.bl-toolbar-lg {
    color: white;
}

.bl-toolbar-lg h2 {
    font-size: 48px;
    color: white;
    text-align: center !important;
}




// .bl-home {
//     // position: relative;
//     margin: 0px;
//     height: 100%;
//     // background-image: url('/assets/eye6.png');
//     background-repeat: no-repeat;
//     background-size: cover;
//     padding-bottom: 100px;
//     // background-position: center 15%;
// }

.bl-home {
 position: relative;
 width: 100%;
 height: 100%; 
 // background: #2196f3; 
}

.bl-home-content {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.bl-home-video {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
    
    padding: 0px;
    margin: 0px;
}

.bl-home-video video {
    width: 100%;
    height: auto;
    padding: 0px;
    margin:0px;
    opacity: 0.5;
    background: white;
    z-index: 1;
}


.bl-home-text {
    width: 60%;
    text-align: center;
    font-weight: bold;
    color: rgba(0,0,0,0.8);
}

.bl-home-box {
    display: flex;
    align-content: center;
    margin: 30px 10px;
}

.bl-home-box div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 0px 50px;
    height: 200px;
    width: 250px;
    text-align: center;
    background: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(0,0,0,0.3);
    padding: 20px;
    -webkit-transition: background 0.5s; /* Safari */
    transition: background 0.5s;

}


.bl-home-box div p {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 5px;
    // display: none;
    color: white;
    -webkit-transition: color 1s; /* Safari */
    transition: color 1s;
}

.bl-primary-text {
    font-size: 18px;
}

.bl-home-box div:hover p {
    // display: inline-block;
    color: rgba(0,0,0,0.7);
}


.bl-home-box a {
    display: none;
}

.bl-home-box div:hover a {
    display: inline-block;
}


.bl-home-box h2 {
    font-size: 40px;
    color: $primary;
    margin-bottom: 0px;
     -webkit-transition: margin-bottom 1s; /* Safari */
    transition: margin-bottom 1s;
}


.bl-home-box div:hover {
    background: rgba(256,256,256,0.9) !important;
    cursor: pointer;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 4px 2px -2px rgba(0, 0, 0, 0.12);
    // border: 2px solid rgba(0,0,0,0.8); 
    border: 3px solid #2196f3; 
    h2 {
        margin-bottom: 20px;
    }
}


.bl-home h1 {
    margin: 0px;
    // padding: 20px;
    font-size: 60px;
    color: rgba(0,0,0,0.8);
    // color: $accent;
}

.bl-img-box {
   // height: 30%;
   // text-align: center;
   // display: flex;
    // align-items: center;
    // justify-content: center
    // top: 0px;
}


.bl-home-space {
    margin-top: 20px;
}
.bl-img-box img {
    // height: 100%;
    height: 300px;
    // width: 749px;
    // max-height: 20%;
    // width: auto;
}

.bl-home-content {
    background: none;
    z-index: 1;
}


.home-btn {
    display: flex;
    width: 300px;
    justify-content: space-between;
}
