#main-content {
	// padding: 10px;
	height: 100%;
}

#bl-overflow {
	max-height: 100vh;
	overflow: scroll;
}


.bl-header {
    background: #2196f3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(50, 50, 50, 1); 
}

.bl-left-padding {
	padding-left: 5px;
}


.bl-no-margin {
	margin: 0px !important;
}

.bl-checkbox {
	margin-left: 15px !important;
}

.bl-header h1 {
	color: white;
	margin: 0px;
	font-size: 4em;
}

.bl-spacer-w {
	height: 25px;
	width: auto;
}
.bl-spacer-w {
	width: 25px;
	height: auto;
}

.center-contents {
	margin: 0 auto;
}

.box-elem {
	padding: 5px 10px;
}


#scroll-table {
}


#page-content {
	height: 100%;
}



#sidebar {
	clear: both;
}

#bodyContainer {
	height: 100%;
}

.full-height {
	//height: 100%;
}

.full-width {
	width: 100% !important;
}

.box-center {
	margin: 0 auto;
	//display: inline-block;
}


.boxA {
	background: nth($background, 2);
	min-height: 200px;
	border: 1px solid black;
	color: nth($text, 2);
}

#tutorial {
	md-card {
		min-height: 500px;
	}
}


#flexCenter {
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}


#flexRow {
	display: flex;
	justify-content: space-around;
	// width: 100%;
}

#flexCol {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// width: 100%;
	// height: 100%;
}

#flexColRow {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}



.bl-vh-100 {
	height: 100%;
}


.bl-vw-100 {
	width: 100%;
}


.bl-headline {
    letter-spacing: 0.005em;
    box-sizing: border-box;
    font-weight: 400;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: 64px;
    max-height: 64px;
    padding: 0 16px;
    margin: 0;
}


.bl-large {
	font-size: 1.75em !important;
	// font-weight: 600 !important;
}


.bl-expand {
    height: 100vh;
}



.bl-vw-90 {
    width: 90%;
}

.bl-vw-80 {
    width: 80%;
}

.bl-vw-70 {
    width: 70%;
}

.bl-vw-60 {
    width: 60%;
}

.bl-vw-50 {
    width: 50%;
}


.bl-vh-100 {
    height: 100%;
}

.bl-vh-90 {
    height: 90%;
}

.bl-vh-80 {
    height: 80%;
}

.bl-vh-70 {
    height: 70%;
}

.bl-vh-60 {
    height: 60%;
}

.bl-vh-50 {
    height: 50%;
}