#settings-panel {
    height: 90vh;
    align-items: stretch;
    padding: 10px;
}

.settings-row {
    padding-bottom: 2em;
}





.uppercase::first-letter {
  text-transform: uppercase;
}



.setting-item {
	height: 75px;
}
