#settings-panel {
    height: 90vh;
    align-items: stretch;
    padding: 10px;
}

.settings-row {
    padding-bottom: 2em;
}





.uppercase::first-letter {
  text-transform: uppercase;
}



.bl-setting-item {
	height: 60px;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	display: flex;
	padding-left: 20px;

}


