#bl-sidebar {
  // max-width: 375px;
  padding-right: 10px;
}


bl-sidebar {
  height: 100vh !important;
}

#sidebar-container {
  height: 100%;
  display: block;
}



#bl-nav {
  list-style-type: none;
  padding: 0px;
}

#bl-nav-item {
  height: 50px;
  border-left: 6px solid grey;
  font-size: 1.25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  // margin-top: 5px;
  margin-left: 5px;
  background: rgba(0, 0, 0, 0.05);
}


#bl-nav-item:hover {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-left: 6px solid nth($primary, 1) !important;
  a {
    text-decoration: none;
    color: white;
  }
}


.bl-nav-current {
  border-left: 8px solid rgb(105,240,174) !important;
  background: nth($primary, 1) !important; 
}

.bl-nav-current a {
  color: white;
}

#bl-nav-item > a {
  // font-size: 2em;
  
}

.bl-nav-border {
  background: rgba(220, 220, 220, 0.8); 
}




.nav-highlight {
    border-bottom: 1px solid nth($primary, 1);
    background-color: rgba(158,158,158,0.2);
}

.nav-btn:hover {
    border-bottom: 1px solid nth($primary, 1);
    background-color: rgba(158,158,158,0.2);
}

a:focus {
    outline: none;
   outline: none !important;
   outline-offset: none;
}


