#bl-sidebar {
  // max-width: 375px;
  // padding-right: 10px;
}


bl-sidebar {
  height: 100% !important;
}

#sidebar-container {
  height: 100%;
  display: block;
}


.bl-sidebar-actions {
  padding-top: 20px;
  padding-left: 15px;
}

.bl-sidebar-actions div {
  padding-left: 0px;
}

.bl-welcome {
  margin: 8px 0;
  font-size: 18px;
  font-weight: 500;
}


.bl-switch {
    margin: 8px 0;
}


.bl-label {
    font-size: 18px !important;
  font-weight: 500;
}

.bl-sidebar-btn a {
  // margin-left: 0px;
  margin: 8px 0;
}


.bl-sidebar-content {
  border-right: 1px solid black;
}



#bl-nav {
  list-style-type: none;
  padding: 0px;
}

#bl-nav-item {
  height: 50px;
  border-left: 6px solid rgba(0, 0, 0, 0.1);
  font-size: 1.25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  // margin-left: 5px;
  // background: rgba(0, 0, 0, 0.05);
}

#bl-nav-item  a {
  color: rgba(0,0,0,0.87);
  
}


#bl-nav-item:hover {
  // background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-left: 6px solid nth($primary, 1) !important;
  a {
    text-decoration: none;
    color: $bl-accent !important;
    font-weight: bold;
  }
}


.bl-nav-current {
  border-left: 6px solid $bl-accent !important;
  // background: nth($primary, 1) !important; 
  // color: $bl-primary;
}

.bl-nav-current a {
  color: $bl-primary !important;
  font-weight: bold;
}



.bl-nav-border {
  background: rgba(220, 220, 220, 0.8); 
}




.nav-highlight {
    border-bottom: 1px solid nth($primary, 1);
    background-color: rgba(158,158,158,0.2);
}

.nav-btn:hover {
    border-bottom: 1px solid nth($primary, 1);
    background-color: rgba(158,158,158,0.2);
}

a:focus {
    outline: none;
   outline: none !important;
   outline-offset: none;
}



#webcam-directive {
    display: block;
}


#sidebar-webcam-container {
    position: relative;
    border: 1px solid nth($background, 4);
    margin: 0 auto;
    overflow: hidden;
}

#sidebar-webcam {
    position: absolute;
    //top: -75px;
    //left: -40%;
}

#sidebar-canvas {
    position: absolute;
    // left: -40%;
    // top: -75px;
    z-index: 10;
}

#canvas-overlay {
    position: absolute;
    // left: -40%;
    // top: -75px;
    z-index: 900;
}
.web-box {
    width: 100%;
    position: relative;
    // top: 15%;
}


