.bl-block {
    display: block;
}

.bl-vw-100 {
    width: 100%;
}

.bl-vw-90 {
    width: 90%;
}

.bl-vw-80 {
    width: 80%;
}

.bl-vw-70 {
    width: 70%;
}

.bl-vw-60 {
    width: 60%;
}

.bl-vw-50 {
    width: 50%;
}


.bl-vh-100 {
    height: 100%;
}

.bl-vh-90 {
    height: 90%;
}

.bl-vh-80 {
    height: 80%;
}

.bl-vh-70 {
    height: 70%;
}

.bl-vh-60 {
    height: 60%;
}

.bl-vh-50 {
    height: 50%;
}



.bl-50h {
   min-height: 50px; 
}

.bl-100h {
   min-height: 100px; 
}

.bl-150h {
   min-height: 150px; 
}

.bl-200h {
   min-height: 200px; 
}

.bl-250h {
   min-height: 250px; 
}

.bl-300h {
   min-height: 300px; 
}


.bl-50w {
   min-width: 50px; 
}

.bl-100w {
   min-width: 100px; 
}

.bl-150w {
   min-width: 150px; 
}

.bl-200w {
   min-width: 200px; 
}

.bl-250w {
   min-width: 250px; 
}

.bl-300w {
   min-width: 300px; 
}


