.board-row {
	height: 33%;
	line-height: 200px;
	font-size: 3em;
	// border: 1px solid black;
	// margin: 5px;
	div {
		border: 1px solid black;
		margin: 5px;
	}
}

.tictac-board {
	height: 600px;
}


.box-highlight {
	background: green;
}