.board-row {
	height: 33%;
	font-size: 10em;
	
}


.tictac-box {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	border: 1px solid black;
	margin: 5px;
	color: red;
}

.tictac-box div {
	width: 100%;
}

.tictac-board {
	height: 600px;
}


.box-highlight {
	background: rgba(105,240,174,0.4);
}


.player-color {
	color: blue !important;
	// font-size: 4em !important;
}