<div class="bl-page-title">
	<h1>Settings</h1>
</div>


<md-content class="md-padding" layout-padding layout="column" layout-align="center">
	<md-card>
		<md-card-content>
			<div layout="column">
				<div layout="row" ng-repeat="(key, setting)  in settings" class="setting-item">
					<div flex="40">
						{{setting.label}}: {{setting.value}}
					</div>
					<div flex="30">
						<md-icon ng-if="setting.number" md-font-set="material-icons" ng-click="adjustValue(true, setting, key)"> add </md-icon>
						<md-icon ng-if="setting.number" md-font-set="material-icons" ng-click="adjustValue(false, setting, key)"> remove </md-icon>
						<md-checkbox ng-if="!setting.number" ng-click="toggle(key, setting.value)" class="md-secondary" ng-model="setting.value"></md-checkbox>
					</div>
				</div>
			</div>
		</md-card-content>
	</md-card>
</md-content>

