<div class="bl-page-title">
	<h1>Settings</h1>
</div>



<md-content class="md-padding" layout-padding layout="column" layout-align="center">
	<md-card class="bl-vw-80">
		<md-card-content>
			<div layout="column" class="bl-dialog-list">
				<div layout="row" class="bl-setting-item" layout-align="start center">
					<div flex="40">
						Average Eye Area: {{$root.user.blinkZero}}
					</div>
					<div flex="30">
						<md-icon md-font-set="material-icons" ng-click="adjustValue(true,'blinkZero')"> add </md-icon>
						<md-icon md-font-set="material-icons" ng-click="adjustValue(false, 'blinkZero')"> remove </md-icon>
					</div>
				</div>
				<div layout="row" class="bl-setting-item" layout-align="start center">
					<div flex="40">
						Blink Threshold: {{$root.user.blinkRatio}}
					</div>
					<div flex="30">
						<md-icon md-font-set="material-icons" ng-click="adjustValue(true, 'blinkRatio')"> add </md-icon>
						<md-icon md-font-set="material-icons" ng-click="adjustValue(false, 'blinkRatio')"> remove </md-icon>
					</div>
				</div>
				<div layout="row" class="bl-setting-item" layout-align="start center">
					<div flex="40">
						Cursor Iteration Time: {{$root.user.cursorDelay}}
					</div>
					<div flex="30">
						<md-icon md-font-set="material-icons" ng-click="adjustValue(true, 'cursorDelay')"> add </md-icon>
						<md-icon md-font-set="material-icons" ng-click="adjustValue(false, 'cursorDelay')"> remove </md-icon>
					</div>
				</div>
				<div layout="row" class="bl-setting-item" layout-align="start center">
					<div flex="40">
						Webcam Tracking: {{$root.user.blinkActive}}
					</div>
					<div flex="30">
						<md-checkbox ng-click="toggleTracking()" class="md-secondary bl-no-margin bl-checkbox" ng-model="$root.user.blinkActive"></md-checkbox>
					</div>
				</div>
			</div>
		</md-card-content>
	</md-card>

</md-content>


