

<div flex layout="column" layout-padding layout="">
	<div>
		<h3 class="p-title p-title-no-margin">
			<span>Adjust Settings</span>
		</h3>
	</div>
	<div layout="row">
		<div flex class="bl-center bl-graph-wrapper" md-whiteframe="4dp" layout-padding>

			<h2 class="md-headline">Live Tracking Data</h2>
			<bl-graph ng-cloak></bl-graph>
		</div>
		<div layout-margin flex>
			<div class="ui-49 bl-49">
				<!-- Heading -->
				<div class="ui-head">
					<h2>Quick Settings</h2>
				</div>
				<!-- Items -->
				<div class="ui-list">
					<ul class="list-unstyled">
						<li class="clearfix">
							<!-- Heading -->
							<span class="bl-pull-left">
							<h3><i class="fa fa-eye"></i> Blink Sensitivity <span>{{$root.user.blinkZero}}</span></h3>
							</span>
							<!-- Toggle switch -->
							<div class="bl-toggle-btn">
								<i class="icon-alt bl-icon-primary glyph-icon fa-plus fa-2x" ng-click="adjustValue(true,'blinkZero')"></i>
								<i class="icon-alt bl-icon-warn glyph-icon fa-minus fa-2x" ng-click="adjustValue(false,'blinkZero')"></i>
							</div>
							<md-tooltip>Increase or decrease how easily app detects blicks</md-tooltip>
						</li>
<!-- 						<li class="clearfix">
							<span class="bl-pull-left">
								<h3><i class="fa fa-percent"></i> Blink Ratio <span>{{$root.user.blinkRatio}}</span></h3>
							</span>
							<div class="bl-toggle-btn">
								<i class="icon-alt bl-icon-primary glyph-icon fa-plus fa-2x" ng-click="adjustValue(true,'blinkRatio')"></i>
								<i class="icon-alt bl-icon-warn glyph-icon fa-minus fa-2x" ng-click="adjustValue(false,'blinkRatio')"></i>
							</div>
						</li>
 -->						<li class="clearfix">
							<!-- Heading -->
							<span class="bl-pull-left">
								<h3><i class="fa fa-i-cursor"></i> Cursor Speed <span>{{$root.user.cursorDelay}}</span></h3>
							</span>
							<!-- Toggle switch -->
							<div class="bl-toggle-btn">
								<i class="icon-alt bl-icon-primary glyph-icon fa-plus fa-2x" ng-click="adjustValue(true,'cursorDelay')"></i>
								<i class="icon-alt bl-icon-warn glyph-icon fa-minus fa-2x" ng-click="adjustValue(false,'cursorDelay')"></i>
							</div>
							<md-tooltip>How quickly the highled boxes move while typing</md-tooltip>
						</li>
						<li class="clearfix">
							<!-- Heading -->
							<span class="bl-pull-left">
								<h3><i class="fa fa-video-camera"></i> Webcam <span>Turn webcam feed on or off</span></h3>
							</span>
							<!-- Toggle switch -->
							<div class="bl-toggle">
								<md-switch ng-model="$root.user.blinkActive" aria-label="Switch 1">
								</md-switch>
							</div>
						</li>

					</ul>
				</div>
				<!-- Foot -->
				<!-- <div class="ui-foot clearfix">
					Last Calibration Date: 
				</div> -->
			</div>
		</div>
	</div>
</div>
<h3 class="p-title p-title-no-margin">
	<span>Blink Profile</span>
</h3>

<div layout-padding>
	<div layout="row" flex layout-padding>
		<div flex class="bl-center" ng-show="profileSet">
			<h2 class="md-headline">Blink Profile</h2> 
			<canvas id="blink-chart"></canvas>
		</div>
		<div flex class="bl-center" ng-show="!profileSet" md-whiteframe="4dp">
			<h2 class="md-headline">Blink Profile Graph</h2>
			<h2 class="md-title">It looks like you haven't calibrated yet!</h2> 
		</div>
		<div layout="column" layout-margin layout-padding flex="40">
			<div class="icon-box icon-box-left" >
				<i class="icon-alt font-secondary glyph-icon fa-cog" ></i>
				<div class="icon-wrapper">
					<h5 class="icon-title ">Blink Sensitivity</h5>
					<p class="icon-content ">How easily the application can detect when you are blinking. Too sensitive means the app detects blinks when your eyes are open, and not sesitive enough when you blink and nothing happens.</p>
				</div>
			</div>
			<!-- <div class="icon-box icon-box-left" >
				<i class="icon-alt font-secondary glyph-icon fa-percent" ></i>
				<div class="icon-wrapper">
					<h5 class="icon-title ">Blink Ratio</h5>
					<p class="icon-content ">The ratio between your Eye Zero and average blink values</p>
				</div>
			</div> -->
			<div class="icon-box icon-box-left" >
				<i class="icon-alt font-secondary glyph-icon fa-eye" ></i>
				<div class="icon-wrapper">
					<h5 class="icon-title ">Eye Zero</h5>
					<p class="icon-content ">The average measured area of your open eye.</p>

				</div>

			</div>
		</div>
	</div>



</div>

<div bl-size="x200" class="bl-vw-100"></div>

<!-- 
<h3 class="p-title p-title-no-margin">
	<span>Blink Profile</span>
</h3>
<div layout-padding>
<div layout="row" flex layout-padding>
	<div flex class="bl-center" ng-show="profileSet">
		<h2 class="md-headline">Blink Profile</h2> 
		<canvas id="blink-chart"></canvas>
	</div>
	<div flex class="bl-center" ng-show="!profileSet" md-whiteframe="4dp">
		<h2 class="md-headline">Blink Profile Graph</h2>
		<h2 class="md-title">It looks like you haven't calibrated yet!</h2> 
	</div>
	<div layout="column" layout-margin layout-padding flex="40">
		<div class="icon-box icon-box-left" >
			<i class="icon-alt font-secondary glyph-icon fa-cog" ></i>
			<div class="icon-wrapper">
				<h5 class="icon-title ">Blink Threshold</h5>
				<p class="icon-content ">Your Eye Zero * Blink Ratio. When the current area of your eye drops below this value, A blink is detected.</p>
			</div>
		</div>
		<div class="icon-box icon-box-left" >
			<i class="icon-alt font-secondary glyph-icon fa-percent" ></i>
			<div class="icon-wrapper">
				<h5 class="icon-title ">Blink Ratio</h5>
				<p class="icon-content ">The ratio between your Eye Zero and average blink values</p>
			</div>
		</div>
		<div class="icon-box icon-box-left" >
			<i class="icon-alt font-secondary glyph-icon fa-eye" ></i>
			<div class="icon-wrapper">
				<h5 class="icon-title ">Eye Zero</h5>
				<p class="icon-content ">The average measured area of your open eye.</p>

			</div>

		</div>
	</div>
</div>

<h3 class="p-title p-title-no-margin">
	<span>Adjust Settings</span>
</h3>

<div layout="row" flex layout-padding layout-margin layout-align="space-between">
	<span flex="10"></span>
	<div flex="30" layout="column" layout-padding layout-margin>
		<div layout="column" bl-size="x120"  layout-align="space-between center" layout-padding md-whiteframe="1dp">
			<div class="md-headline" flex>
				<b>Eye Zero:</b> {{$root.user.blinkZero}}
			</div>

			<div>
				
				<button class="bl-icon-btn" aria-label="add" ng-click="adjustValue(true,'blinkZero')">
					<i class="icon-alt bl-icon-primary glyph-icon fa-plus" ></i>
				</button>
				<button class="bl-icon-btn" aria-label="remove" ng-click="adjustValue(false,'blinkZero')">
					<i class="icon-alt bl-icon-warn glyph-icon fa-minus" ></i>
				</button>
			</div>

		</div>

		<div layout="column" bl-size="x120"  layout-align="space-between center" layout-padding md-whiteframe="1dp">
			<div class="md-headline" flex>
				<b>Blink Ratio:</b> {{$root.user.blinkRatio}}
			</div>

			<div>
				<button class="bl-icon-btn" aria-label="add" ng-click="adjustValue(true,'blinkRatio')">
					<i class="icon-alt bl-icon-primary glyph-icon fa-plus" ></i>
				</button>
				<button class="bl-icon-btn" aria-label="remove" ng-click="adjustValue(false,'blinkRatio')">
					<i class="icon-alt bl-icon-warn glyph-icon fa-minus" ></i>
				</button>
			</div>

		</div>
	</div>
	<div flex="30" layout="column" layout-padding layout-margin>

		<div layout="column" bl-size="x120"  layout-align="space-between center" layout-padding md-whiteframe="1dp">
			<div class="md-headline" flex>
				<b>Cursor Speed:</b> {{$root.user.cursorDelay}}
			</div>

			<div>
				<button class="bl-icon-btn" aria-label="add" ng-click="adjustValue(true,'cursorDelay')">
					<i class="icon-alt bl-icon-primary glyph-icon fa-plus" ></i>
				</button>
				<button class="bl-icon-btn" aria-label="remove" ng-click="adjustValue(false,'cursorDelay')">
					<i class="icon-alt bl-icon-warn glyph-icon fa-minus" ></i>
				</button>
			</div>

		</div>

		<div layout="column" bl-size="x120"  layout-align="space-between center" layout-padding md-whiteframe="1dp">
			<div class="md-headline" flex>
				<b>Webcam Tracking</b>
			</div>

			<div class="bl-center" bl-size="116x">
				<md-checkbox ng-click="toggleTracking()" aria-label="Webcam Status" class="md-primary bl-no-margin bl-checkbox" ng-model="$root.user.blinkActive"></md-checkbox>
			</div>

		</div>
	</div>
	<span flex="10"></span>
</div>
</div>

<div flex layout="column" layout-padding layout="center center">
	<div>
		<h3 class="p-title p-title-no-margin">
			<span>View Live Tracking</span>
		</h3>
	</div>
	<div layout="row">
		<div flex class="bl-center" md-whiteframe="4dp" layout-padding>
			<h2 class="md-headline">Live Tracking Data</h2> 	 
			<bl-graph ng-cloak></bl-graph>
		</div>
		<div layout="column" layout-margin layout-padding flex>
			<div class="icon-box icon-box-left" >
				<i class="icon-alt font-secondary glyph-icon fa-cog" ></i>
				<div class="icon-wrapper">
					<h5 class="icon-title ">Practice</h5>
					<ul class="icon-content ">
						<li>When you eye is open, make sure the current eye reading is above the threshold line.</li>
						<li>Try blinking and watch the eye reading drop. Make sure it drops below the threshold line, then rises back above when your eyes are open.</li>
					</ul>
				</div>
			</div>
			<div layout="row" layout-padding layout-align="center">
				<md-button ui-sref="tutorial" class="md-primary">Tutorial</md-button>
				<md-button ui-sref="calibrate" class="md-warn">Re-calibrate</md-button>
			</div>

		</div>
	</div>
</div>

<div bl-size="x200" class="bl-vw-100"></div>





 -->