
<div layout-padding layout-align="center center" layout="column">

    <md-card class="bl-vw-70">
    <md-toolbar layout="row" class="md-primary">
        <div class="md-toolbar-tools">
            <span><b>Login</b></span>
        </div>
    </md-toolbar>
    <form name="userForm">
      <md-card-content>
       <md-content class="md-no-momentum">
        <md-input-container class="md-icon-float md-block">
          <label>Email</label>
          <md-icon class="material-icons">email</md-icon>
          <input ng-model="login.email" type="text" required="">
      </md-input-container>
      <md-input-container class="md-icon-float md-block">
          <label>Password</label>
          <md-icon class="material-icons">lock</md-icon>
          <input ng-model="login.password" type="password" required="">
      </md-input-container>
  </md-content>
</md-card-content>
<md-card-actions layout="row" layout-align="end center">
  <md-button type="submit" ng-click="sendLogin(login)" class="md-raised md-primary">Login</md-button>
</md-card-actions>
</form>
</md-card>
<div flex="50" layout="column" layout-align="center center">
       <p class="md-display-1">Not a user?</p> <md-button class=" md-primary" ui-sref="signup">Create Account</md-button>
    </div>



  </div>

