

<div id="flexColRow" flex  layout-align="center">

        <div class="home-container" id="flexCol">
            <div>
            <h1 class="main-title">Welcome To Blink</h1>
            </div>
            <div class="home-btn">
            <md-button  class="md-raised md-primary" ng-click="start()">Tutorial</md-button>
            <md-button  class="md-raised md-primary" ng-click="start()">Calibrate</md-button>
            </div>
        </div>
       
</div>



<!-- <md-button ng-show="calibrated" class="md-raised calibrate-btn" ng-click="showCalibration()">Calibrate</md-button> -->
