




<md-card ng-cloak>
<md-toolbar class="md-sm md-primary">
      <h2 class="md-toolbar-tools">
        <span class="md-headline">User Settings</span>
      </h2>
    </md-toolbar>
   

   <md-card-title>
         <div layout="column" layout-align="start">
          <md-card-title-text layout="row">
            <span class="md-headline">Tracking Status</span>
          </md-card-title-text>
          <md-card-actions layout="row">
          <md-card-icon-actions>
            <md-button ng-click="resumeBlink()" ng-disabled="blinkActive" class="md-primary md-raised">Resume</md-button>
      <md-button ng-click="cancelBlink()" ng-disabled="blinkActive" class="md-primary md-raised">Cancel</md-button>
          </md-card-icon-actions>
          </md-card-actions>
         </div>
   </md-card-title>
   
      <md-card-title>
         <div layout="column" layout-align="start">
          <md-card-title-text layout="row">
            <span class="md-headline">Blink Zero: {{blinkZero.toFixed(1)}}</span>
          </md-card-title-text>
          <md-card-actions layout="row">
          <md-card-icon-actions>
            <md-button ng-click="decreaseZero()" class="md-icon-button" aria-label="Remove">
              <md-icon class="material-icons btn-1 md-primary">remove_circle</md-icon>
            </md-button>
            <md-button ng-click="increaseZero()" class="md-icon-button" aria-label="Add">
              <md-icon class="material-icons btn-1 md-primary">add_circle</md-icon>
            </md-button>
          </md-card-icon-actions>
          </md-card-actions>
         </div>
   </md-card-title>




   <md-card-title>
         <div layout="column" layout-align="start">
          <md-card-title-text layout="row">
            <span class="md-headline">Blink Threshold: {{blinkThreshold.toFixed(4)}} %</span>
          </md-card-title-text>
          <md-card-actions layout="row">
          <md-card-icon-actions>
            <md-button ng-click="decreaseRatio()" class="md-icon-button" aria-label="Favorite">
              <md-icon class="material-icons btn-1 md-primary">remove_circle</md-icon>
            </md-button>
            <md-button ng-click="increaseRatio()" class="md-icon-button md-36"  aria-label="Share">
              <md-icon class="material-icons btn-1 md-primary">add_circle</md-icon>
              
            </md-button>
          </md-card-icon-actions>
          </md-card-actions>
          

         </div>
   </md-card-title>

   <md-card-title>
         <div layout="column" layout-align="start">
          
          <md-card-actions layout="row">
          <md-card-icon-actions>
            <md-button ng-click="testSettings()" class="md-accent md-raised">
              Test
            </md-button>
            
          </md-card-icon-actions>
          </md-card-actions>
         </div>
   </md-card-title>
      
</md-card>

<md-divider></md-divider>


<md-card>
<md-toolbar class="md-sm md-primary">
      <h2 class="md-toolbar-tools">
        <span class="md-headline">Customize Interface</span>
      </h2>
    </md-toolbar>
   <md-card-title>
         <div layout="column" layout-align="start">
          
          <md-card-actions layout="row">
          <md-card-icon-actions>
            <md-button ng-click="testSettings()" class="md-accent md-raised">
              Test
            </md-button>
            
          </md-card-icon-actions>
          </md-card-actions>
         </div>
   </md-card-title>
      
</md-card>



 





